.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}

.pagination button {
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  cursor: pointer;
}

.pagination button:hover{
 background: #9a9b9c;
  cursor: pointer;
} 